.selectedBranchLabel {
    cursor: pointer;
    color: #888888 !important;
    font-size: 14px;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 5px;
    font-weight: 600;
}