<div class="row animated fadeIn">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Edit a new User
          <div class="card-header-actions"*ngIf="privateLesson">
              <a class="btn btn-sm btn-icon  mx-1" href="#/users/edit/{{element.id}}"><i class="fa fa-undo"></i></a>
          </div>
        </div>
        <div  class="card-body">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"for="text-input">User Name</label>
                    <div class="col-md-10">
                      <input type="text" name="username" [(ngModel)]="user.name" class="form-control" placeholder="">
                    </div>
                  </div>
              <div class="form-group row">
                  <label class="col-md-2 col-form-label" for="text-input">Email </label>
                  <div class="col-md-10">
                      <span *ngIf="showValidEmail">

                          <div [hidden]="" class="alert alert-sm alert-danger">Email address is invalid</div>
                         </span>
                    <input type="text" (blur)="validateEmail()" name="email"[(ngModel)]="user.email"class="form-control" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"for="text-input"> Phone number</label>
                    <div class="col-md-10">
                        <span *ngIf="showValidPhonenumber">
                            <div [hidden]="" class="alert alert-sm alert-danger">Phone number is invalid</div>
                            </span>
                        
                      <input type="text" (blur)="validatePhonenumber()"name="phonenumber" [(ngModel)]="user.phonenumber" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                      <label class="col-md-2 col-form-label"for="text-input"> Branch name</label>
                      <div class="col-md-10">
                       
                          <ngx-select 
                            [items]="branchService.branches"
                            [defaultValue]="selectedBr"
                            noResultsFound = "No records found"
                            size="medium"
                            (select)="selected($event)"
                            (remove)="removed($event)"
                            placeholder="Select branch"
                            optionValueField="id"
                            optionTextField="branchname">
                        </ngx-select>
                      </div>
                    </div>
           
          <div class="form-actions pull-right">
            <button type="submit" class="btn btn-primary mx-1"(click)="updateUser()"> Update </button>
            <button class="btn btn-secondary" type="button"(click)="clearUser()">Clear</button>
            <button class="btn btn-secondary mx-1" type="button"(click)="cancelUser()">Cancel</button>
          </div>
        </form>
        </div>
      </div>
    </div> <!--/.col-->
  </div>