<div class="animated fadeIn">
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="branchcode">
    <mat-header-cell  *matHeaderCellDef> Branch code</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.branchcode}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="branchname">
    <mat-header-cell *matHeaderCellDef> Branch name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.branchname}} </mat-cell >
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="phonenumber">
    <mat-header-cell *matHeaderCellDef> Phone number </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.phonenumber}} </mat-cell>
  </ng-container>

   <!-- Adress Column -->
   <ng-container matColumnDef="branchadress">
    <mat-header-cell *matHeaderCellDef> Branch adress </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.branchadress}} </mat-cell>
  </ng-container>

  <!-- Control buttons -->
  <ng-container matColumnDef="controlButtons">
    <mat-header-cell *matHeaderCellDef> 
        <a class="btn btn-sm btn-icon btn-primary mx-1" href="#/branches/add"><i class="fa fa-plus"></i></a>    
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
        <a class="mx-1 btn btn-sm btn-default" href="#/branches/edit/{{element.id}}"><i class="fa fa-pencil"></i></a>  
        <a class="mx-1 btn btn-sm btn-default" href="#"><i class="fa fa-trash"></i></a>  
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
</mat-table>
</div>